div.om-meta-box {
}

div.om-meta-box-description {
    color: #606060;
    font-size: 0.9em;
    font-style: italic;
    margin-top: 0.5em;
}

div.om-meta-field {
    margin-top: 1em;
}

div.om-meta-field-title {
    font-weight: bold;
    width: 225px;
    display: inline-block;
    vertical-align: top;
}

div.om-meta-field-control {
    display: inline-block;
    vertical-align: top;
}

div.om-meta-field-description {
    color: #606060;
    font-size: 0.9em;
    font-style: italic;
}