<script id="tmpl-nf-field-listradio" type="text/template">
	<ul>
		{{{ data.renderOptions() }}}
	</ul>
</script>

<script id='tmpl-nf-field-listradio-option' type='text/template'>
	<# if ( ! data.visible ) { return '' } #>
	<li>
		<label for="nf-field-{{{ data.fieldID }}}-{{{ data.index }}}" class="custom-control custom-radio {{{ ( data.value == data.currentValue  || 1 == data.selected ) ? 'nf-checked-label' : '' }}}">
			<input type="radio" id="nf-field-{{{ data.fieldID }}}-{{{ data.index }}}" name="nf-field-{{{ data.fieldID }}}" class="{{{ data.classes }}} custom-control-input nf-element {{{ ( data.value == data.currentValue  || 1 == data.selected ) ? 'nf-checked' : '' }}}" value="{{{ data.value }}}" {{{ ( data.value == data.currentValue  || 1 == data.selected ) ? 'checked="checked"' : '' }}}>
			<span class="custom-control-indicator"></span>
			<span class="custom-control-description">{{{ data.label }}}</span>
		</label>
	</li>
</script>

<script id='tmpl-nf-field-listradio-other' type='text/template'>
	<li>
		<label class="custom-control custom-radio">
			<input type="radio" name="nf-field-{{{ data.fieldID }}}" class="{{{ data.classes }}} custom-control-input nf-element" value="nf-other" {{{ ( ! data.valueFound ) ? 'checked="checked"' : '' }}}>
			<span class="custom-control-indicator"></span>
			<span class="custom-control-description">Other {{{ data.renderOtherText() }}}</span>
		</label>
	</li>
</script>

<script id='tmpl-nf-field-listradio-other-text' type='text/template'>
	<input type="text" name="nf-field-{{{ data.fieldID }}}" class="nf-element" value="{{{ data.currentValue }}}">
</script>
